<header>

    <a href="/" class="logo">TechTonic<span>.</span></a>

    <form action="">
        <input type="search" id="search-bar">
        <label for="search-bar" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div id="menu-bar" class="fas fa-bars"></div>
        <div id="theme-toggler" class="fas fa-moon"></div>
        <!-- <a href="#" class="fas fa-heart"></a> -->
        <a 
            href="/checkout" 
            class="fas fa-shopping-cart header-checkout btn-pill btn-pill--light"
            
        >
        
        </a>
        <a href="/login" class="fas fa-user"></a>
    </div>

</header>

<!-- header section ends -->

